<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">關於上恩</h2>
                    <h3 class="section-subheading text-muted">－從用戶角度設計網站功能，從消費者的立場提供服務。</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <h4>
                                    就這樣<br>
                                    開始了這趟<br>
                                    驚奇旅程
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-08</h4>
                                    <h4>想幫小孩買保險</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">卻發現保險公司及被保險人之間嚴重的「資訊不對稱」，因此成立公司架設網站、希望幫助有保險需求的消費者可以有更大的自主權</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-01</h4>
                                    <h4>MY83 保險網上線</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 上線第一天就有會員開始付費。之後並陸續成立<a href="https://www.facebook.com/my83.com.tw">小資族聰明買保險</a>、<a href="https://www.facebook.com/mamilove.com.tw">新手爸媽諮詢站</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-07</h4>
                                    <h4>Mamilove 媽咪愛上線</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">此時，我們還是間窩在客廳餐桌上的 3 人小型 startup</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-03</h4>
                                    <h4 class="subheading">入選創業之星</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 中國創業邦所舉辦創新中國活動，<MY83 保險網>成為唯一入選創業之星的台灣團隊；並在活動中取得互聯網金融類別<a href="http://www.cyzone.cn/a/20140328/255781.html">唯一晉級</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-11</h4>
                                    <h4>各部門主管到位</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">公司人數往 30 人邁進。Mamilove 每月近萬單、超過十萬名會員、五千則媽咪問答</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-01</h4>
                                    <h4 class="subheading">現在也還是間 startup</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">只是我們搬到 170 坪的新辦公室，結束一年半之內搬五次家的新創公司搬家之旅</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-02</h4>
                                    <h4>迎接新的一年</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">感謝了一路曾經幫助過我們的人，包括長期合作的供應商、資深有理想的保險業務員、走過篳路藍縷的原始夥伴、辛苦的物流司機先生、還有最最最重要的每一位夥伴</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                  我們的<br>
                                  旅程<br>
                                  還在繼續
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br><br><br>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">公司成長</h2>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div id="employee" style="height:300px;"></div>
                    <h4 class="text-center">夥伴人數</h4>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div id="officearea" style="height:300px;"></div>
                    <h4 class="text-center">辦公室坪數</h4>
                </div>
            </div>
        </div>
        <br><br><br>

        <div class="container portfolio">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">媒體報導</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
              {% if post.category == 'news' %}
                <div class="col-md-3 col-sm-4 col-xs-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>
