<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">關於上恩</h2>
                    <h3 class="section-subheading text-muted">－從用戶角度設計網站功能、從消費者的立場提供溫暖的服務。
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-08</h4>
                                    <h4 class="subheading"> 3 人的小型 startup</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">那時，我們還只是窩在客廳的 startup。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-01</h4>
                                    <h4 class="subheading"><a href="https://maimilove.com.tw">Mamilove 媽咪愛</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 從 2013 年的第一張訂單，到目前每月平均 8000 單、超過十萬名會員！ </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-03</h4>
                                    <h4 class="subheading"><a href="http://my83.com.tw/">MY83 保險網</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 中國創業邦所舉辦創新中國活動，成為唯一入選創業之星的台灣團隊；並在活動中取得互聯網金融類別唯一晉級！ </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-01</h4>
                                    <h4 class="subheading">現在我們也還是間 startup</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 但是已有超過 25 位全職夥伴，也換到了台北市 170 多坪的辦公室。 </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                  我們的<br>
                                  故事<br>
                                  還在繼續
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
