  <section id="life">
    <div class="container">
        <div class="row">
            <a href="https://www.flickr.com/photos/133477832@N07/" target="_blank">
                <div class="col-xs-12 col-md-6 text-center upn-life">
                    <h2 class="section-heading">上恩生活</h2>
                </div>
            </a>
            <a href="http://blog.upn.com.tw/" target="_blank">
	        <div class="col-xs-12 col-md-6 text-center upn-blog">
                    <h2 class="section-heading">上恩 Blog</h2>
                </div>
            </a>
        </div>
    </div>
  </section>
