  <section id="news">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">媒體報導</h2>
                  <h3 class="section-subheading text-muted"></h3>
              </div>
          </div>
          <div class="row">
          {% for post in site.posts %}
            {% if post.category == 'news' %}
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 text-center news-post">
                  <a href="{{ post.href }}" target="_blank"><img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive" alt=""></a>
                  <div class="portfolio-caption">
                      <a href="{{ post.href }}" target="_blank">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted text-lowercase">{{ post.subtitle }}</p>
                      </a>
                  </div>
              </div>
              {% endif %}
          {% endfor %}
          </div>
      </div>
  </section>
