<!-- Recuritment Section -->
<section id="recruitment" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">誠徵夥伴</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5 class="text-muted">我們不一定有最優渥的福利，但我們可以給你一個舞台發揮</h5>
                        <h5 class="text-muted">我們不一定有最完善的制度，但我們期待和你一起建立制度</h5>
                        <h5 class="text-muted">我們不一定是最完美的公司，但我們希望和你一起解決問題</h5>
                        <h4 class="text-muted">我們是一間放眼國際的網路新創公司，我們等待不怕把手弄髒的你！！</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-lg-12">
            <h3 class="section-heading">加入上恩的福利</h3>
            <div class="section-subheading ">
                <ol>
                    <li><h5>不需要加班給主管看，能有效率處理完公事準時下班最歡迎。</h5></li>
                    <li><h5>加入公司第一年即有年假，讓你隨時充電一下。</h5></li>
                    <li><h5>無限量供應咖啡膠囊，不定時揪團下午茶。</h5></li>
                    <li><h5>每月一次公司買單的員工聚餐，慶生會讓大家 Happy Birthday。</h5></li>
                    <li><h5>業績好的時候，會不定時有機動獎金～</h5></li>
                    <li><h5>努力達到年度業績目標，很 High 的員工旅遊也是會發生滴～</h5></li>
                    <li><h5>工作地點靠近古亭捷運站，有寬敞的辦公室、舒服的吧台。</h5></li>
                    <li><h5>我們提供相關課程或演講補助，期待你與公司一起成長。</h5></li>
                </ol>
            </div>
        </div>

        <div class="row col-lg-12">
            <h3 class="section-heading">職缺</h3>

            <div id="web-intern-mamilove" class="panel panel-success">
                <div class="panel-heading"><h4 class="panel-title"></span>Web Developer Intern&nbsp;<span class="badge">1位</span></h4></div>
                <div class="panel-body">
                    <h5>上恩資訊 (UPN) 的使命是利用網路的科技，幫助家庭解決生活中遇到的種種問題，陪伴家庭與孩子快樂地成長。</h5>
                    <h5>在 UPN, web deveoper intern 是我們會想要栽培的明日之星，只要你對 web application development 有興趣，有熱忱，我們很樂於跟你分享一些我們實戰的經驗，並提供你一個實戰的舞台。</h5>
                    <br>
                    <h5>Why you should consider UPN 為什麼你應該考慮上恩</h5>
                    <ul>
                        <li><h5>公司裡面臥虎藏龍，有許多 一 (ㄍ ㄨ ㄟ ) 流 (ㄇ ㄠ ˊ) 的 developers / designers </h5></li>
                        <li><h5>公司就在古亭捷運站附近，交通方便 。</h5></li>
                        <li><h5>未出校門就開始累積實戰的經驗與能力</h5></li>
                        <li><h5>體驗新創公司的熱情與快速執行力，對之後的工作能力大大加分</h5></li>
                    </ul>
                    <br>
                    <h5>Responsibilities 工作內容：</h5>
                    <ol>
                        <li><h5>co-work with Product team, 了解團隊優先順序並進行 web application 開發</h5></li>
                        <li><h5>吸收新知並動手實作，了解 web application 的最佳實踐</h5></li>
                        <li><h5>收集與分析產品相關數據，了解產品該如何改進</h5></li>
                    </ol>
                    <br>
                    <h5>Requirements 徵求條件</h5>
                    <ol>
                        <li><h5>喜歡寫 code ，覺得在透過網路解決人們生活的難題是一件很酷的事</h5></li>
                        <li><h5>想挑戰自我的能力，願意嘗試在快節奏的公司工作</h5></li>
                        <li><h5>具 programming 經驗，不用得過 hackthon 冠軍，但是至少有寫過一些程式</h5></li>
                        <li><h5>data-driven, 喜歡用數字來驗證工作的成效而不是只是憑感覺</h5></li>
                        <li><h5>溝通能力佳, 喜歡團隊合作 more than 一人球隊</h5></li>
                    </ol>
                    <br>
                    <h5>意者歡迎來信履歷、相關作品集、聯絡方式、期待薪資</h5>
                    <h5 class="text-lowercase">寄到：<a href="mailto:brooky@upn.com.tw">brooky@upn.com.tw</a></h5>
                </div>
            </div>
            
            <div id="web-intern-mamilove" class="panel panel-success">
                <div class="panel-heading"><h4 class="panel-title"></span>Product Manager 電商產品經理&nbsp;<span class="badge">1位</span></h4></div>
                <div class="panel-body">
                    <h5>上恩資訊 (UPN) 的使命是利用網路的科技，幫助家庭解決生活中遇到的種種問題，陪伴家庭與孩子快樂地成長。</h5>
                    <h5>在 UPN, Product manager 產品經理的任務是幫助上恩開發種種可以幫助家庭解決問題的產品，而 E-commerce PM 更專注於上恩資訊 E-commerce 相關的產品，包括但不限於媽咪愛的網站及 app。</h5>
                    <br>
                    <h5>產品經理是一個很有挑戰性的工作，從產品數字的分析、產品規劃、籌措資源、跨組的溝通與協調，只要是可以幫助產品成長的，可能都是這個工作的一部份。</h5>
                    <br>
                    <h5>優秀的產品經理對於一個產品的成功扮演一個很重要的角色。也因為如此，我們希望膽大心細、勇於嘗試的你/妳，跟我們一起踏上這條偉大的航道。</h5>
                    <ul>
                        <li><h5>公司裡面臥虎藏龍，有許多 一 (ㄍ ㄨ ㄟ ) 流 (ㄇ ㄠ ˊ) 的 developers / designers </h5></li>
                        <li><h5>公司就在古亭捷運站附近，交通方便 。</h5></li>
                        <li><h5>未出校門就開始累積實戰的經驗與能力</h5></li>
                        <li><h5>體驗新創公司的熱情與快速執行力，對之後的工作能力大大加分</h5></li>
                    </ul>
                    <br>
                    <h5>工作內容：</h5>
                    <ol>
                        <li><h5>與同樣充滿熱情的一 (ㄍ ㄨ ㄟ ) 流 (ㄇ ㄠ ˊ) developers / designers 一起工作，協助團隊開發優秀的產品</h5></li>
                        <li><h5>跨組溝通協調，協助產品團隊與公司其他部門取得優先順序的共識</h5></li>
                        <li><h5>透過使用者的研究調查、或是數字的分析等種種工具，協助持續優化產品，提升使用者滿意度</h5></li>
                        <li><h5>協助規畫與實驗不同的產品特色，並透過數據化的分析協助團隊確認有效的攻擊點</h5></li>
                        <li><h5>研究一流的 EC 產品，打造一流的 EC 產品</h5></li>
                    </ol>
                    <br>
                    <h5>徵求條件</h5>
                    <ol>
                        <li><h5>擁有 2 年以上打造 web / app 產品的經驗</h5></li>
                        <li><h5>絕佳的溝通能力</h5></li>
                        <li><h5>分析思考，可以有組織地思考並找到問題的核心</h5></li>
                        <li><h5>對 web application / mobile app 背後的運作架構有一定的認識，能夠知道不同解決方案背後的成本</h5></li>
                        <li><h5>對電子商務的運作有一定的認作，對於如何取得優質的流量、優化轉換率、提升顧客黏性及回購率有一定的經驗</h5></li>
                        <li><h5>對規劃簡單易用的 UI 以解決使用者的問題充滿熱忱，並有相關的實作經驗</h5></li>
                        <li><h5>不斷想要挑戰自我，願意嘗試在快節奏的公司工作</h5></li>
                    </ol>
                    <br>
                    <h5>意者歡迎來信履歷、相關作品集、聯絡方式、期待薪資</h5>
                    <h5 class="text-lowercase">寄到：<a href="mailto:jacky@upn.com.tw">jacky@upn.com.tw</a>, <a href="mailto:brooky@upn.com.tw">brooky@upn.com.tw</a></h5>
                </div>
            </div>

            <div id="oversea-fanspage" class="panel panel-success">
                <div class="panel-heading"><h4 class="panel-title"></span>海外商品開發&nbsp;<span class="badge">4位</span></h4></div>
                <div class="panel-body">
                    <h5>有別於一般的購物平台＆團購網站，我們只推薦我們願意買給自己小孩用的商品</h5>
                    <br>
                    <h5>工作內容</h5>
                    <ol>
                        <li><h5>開發供貨廠商、洽談合作方式及議價。</h5></li>
                        <li><h5>追蹤銷售狀況，根據數據調整未來合作方式。</h5></li>
                        <li><h5>規劃商品行銷活動。</h5></li>
                    </ol>
                    <br>
                    <h5>徵求條件</h5>
                    <ol>
                        <li><h5>具選品眼光與為媽咪把關的熱忱，找出優質親子用品。</h5></li>
                        <li><h5>有商品開發或銷售相關業務經驗。</h5></li>
                        <li><h5>對育兒親子相關商品或服務有興趣。</h5></li>
                        <li><h5>細心、肯學習、不輕易放棄，個性積極，有團隊合作精神。</h5></li>
                    </ol>
                    <br>
                    <h5>我們計畫在開設在以下幾個國家的粉絲團</h5>
                    <ol>
                        <li><h5>泰國開發(需精通泰文並能讀中文)</h5></li>
                        <li><h5>香港開發 (需精通廣東話)</h5></li>
                        <li><h5>印尼開發 (需精通印尼文並能讀中文)</h5></li>
                        <li><h5>新加坡開發 (需精通英文並能讀中文)</h5></li>
                    </ol>
                    <br>
                    <h5>意者歡迎來信履歷、主旨開頭請加上「應徵海外商品開發 - (你的名字)」我們會通知合適者進行面試， 若不符合資格，將不另行通知。</h5>
                    <h5 class="text-lowercase">寄到：<a href="mailto:jacky@upn.com.tw">jacky@upn.com.tw</a>, <a href="mailto:peifu@upn.com.tw">peifu@upn.com.tw</a></h5>
                </div>
            </div>

            <div id="oversea-fanspage" class="panel panel-success">
                <div class="panel-heading"><h4 class="panel-title"></span>海外社群粉絲團經營&nbsp;<span class="badge">4位</span></h4></div>
                <div class="panel-body">
                    <h5>媽咪愛現已累積海外超過20萬粉絲，現在經營各個國家的粉絲團包含泰國、越南、馬來西亞、印尼、中國、香港等，我們目標服務更多亞洲地區的媽咪。</h5>
                    <br>
                    <h5>工作內容</h5>
                    <ol>
                        <li><h5>經營新手爸媽及母嬰商品粉絲團。</h5></li>
                        <li><h5>撰寫/翻譯/編輯文章 (詳細清楚、中肯、有溫度、具親切感、不做強迫銷售)。</h5></li>
                        <li><h5>基本的及圖片編輯。</h5></li>
                        <li><h5>粉絲團活動文案與專案事項。</h5></li>
                    </ol>
                    <br>
                    <h5>我們計畫在開設在以下幾個國家的粉絲團</h5>
                    <ol>
                        <li><h5>泰國(需精通泰文並能讀中文)</h5></li>
                        <li><h5>馬來西亞(需精通馬來文、英文、中文)</h5></li>
                        <li><h5>菲律賓 (需精通英文並能讀中文)</h5></li>
                        <li><h5>新加坡 (需精通英文並能讀中文)</h5></li>
                    </ol>
                    <br>
                    <h5>意者歡迎來信履歷、主旨開頭請加上「應徵海外社群粉絲團經營 - (你的名字)」我們會通知合適者進行面試， 若不符合資格，將不另行通知。</h5>
                    <h5 class="text-lowercase">寄到：<a href="mailto:jacky@upn.com.tw">jacky@upn.com.tw</a>, <a href="mailto:peifu@upn.com.tw">peifu@upn.com.tw</a></h5>
                </div>
            </div>

            <div id="my83-hiring" class="panel panel-success">
                <div class="panel-heading"><h4 class="panel-title"></span>MY83 web 工程師</h4></div>
                <div class="panel-body">
                    <h5>詳情請見 <a href="http://my83.com.tw/blogs?p=1264">MY83 徵才</a></h5>
                </div>
            </div>
        </div>
    </div>

</section>

