<!-- Recuritment Section -->
  <section id="recruitment" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">誠徵夥伴</h2>
          <div class="panel panel-default">
            <div class="panel-body">
              <h6 class="text-muted">我們不一定有最優渥的福利，但我們可以給你一個舞台發揮</h6>
              <h6 class="text-muted">我們不一定有最完善的制度，但我們期待和你一起建立制度</h6>
              <h6 class="text-muted">我們不一定是最完美的公司，但我們希望和你一起解決問題</h6>
              <h4 class="text-muted">我們是一間放眼國際的網路新創公司，我們等待不怕把手弄髒的你！！</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-lg-12">
        <h3 class="section-heading">加入上恩的福利</h3>
        <div class="section-subheading ">
          <ol>
          <li><h5>不需要加班給主管看，能有效率處理完公事準時下班最歡迎。</h5></li>
          <li><h5>加入公司第一年即有年假，讓你隨時充電一下。</h5></li>
          <li><h5>無限量供應咖啡膠囊，不定時揪團下午茶。</h5></li>
          <li><h5>每月一次公司買單的員工聚餐，慶生會讓大家 Happy Birthday。</h5></li>
          <li><h5>業績好的時候，會不定時有機動獎金～</h5></li>
          <li><h5>努力達到年度業績目標，很 High 的員工旅遊也是會發生滴～</h5></li>
          <li><h5>工作地點靠近古亭捷運站，有寬敞的辦公室、舒服的吧台</h5></li>
          </ol>
        </div>
      </div>

      <div class="row col-lg-12">
        <h3 class="section-heading">職缺</h3>

        <div class="panel panel-success">
          <div class="panel-heading"><h4 class="panel-title"></span>Web Developer&nbsp;<span class="badge">1位</span></h4></div>
          <div class="panel-body">
            <h5>工作內容：</h5>
            <ol>
              <li><h5>工作將負責《媽咪愛》前後端的開發與維護</h5></li>
            </ol>
            <br>
            <h5>徵求條件：</h5>
            <ol>
              <li><h5>使用 HTML, Javascript/jQuery, php, mysql</h5></li>
              <li><h5>後端使用 MVC 的概念，我們使用 Yii(php)</h5></li>
              <li><h5>使用 git, Linux 環境</h5></li>
            </ol>
            <br>
            <h5>意者歡迎來信履歷、相關作品集、聯絡方式、期待薪資</h5>
            <h5 class="text-lowercase">寄到：benson@my83.com.tw</h5>
          </div>
        </div>

        <div class="panel panel-success">
          <div class="panel-heading"><h4 class="panel-title">會計行政專員&nbsp;<span class="badge">1位</span></h4></div>
          <div class="panel-body">
            <h5>工作內容：</h5>
            <ol>
              <li><h5>營業稅及營利事業所得稅結算申報</h5></li>
              <li><h5>協助審查單據, 編製傳票及歸檔</h5></li>
              <li><h5>執行一般現金收付作業</h5></li>
              <li><h5>協助倉管人員執行盤點作業</h5></li>
              <li><h5>協助編製財務報表</h5></li>
              <li><h5>主管交辦之其他文書行政工作</h5></li>
              <br>
            </ol>
            <h5>徵求條件：</h5>
            <ol>
              <li><h5>具中小型會計師事務所或公司會計2～4年工作經驗者尤佳</h5></li>
              <li><h5>不自我設限，喜歡活潑多變、具挑戰性的網路業環境</h5></li>
              <li><h5>做事細心有效率、具責任感、思路清晰、配合度高、抗壓性高</h5></li>
              <li><h5>願意主動進修相關專業能力</h5></li>
              <li><h5>具會計人員之專業能力與職業操守</h5></li>
            </ol>
            <br>
            <h5>意者歡迎來信履歷，並註明「期望薪資」和「可到職日期」</h5>
            <h5 class="text-lowercase">寄到：alice@upn.com.tw</h5>
          </div>
        </div>


        <div class="panel panel-success">
          <div class="panel-heading"><h4 class="panel-title">行銷企劃&nbsp;<span class="badge">1位</span></h4></h4></div>
          <div class="panel-body">
            <h5>工作內容:</h5>
            <ol>
              <li><h5>廣告素材發想、廣告投放，數據分析及效益優化</h5></li>
              <li><h5>規劃及執行線上及線下行銷活動</h5></li>
              <li><h5>經營外部社群來提升口碑和商品能見度，不限於 Facebook</h5></li>
            </ol>
            <br>
            <h5>徵求條件：</h5>
            <ol>
              <li><h5>真心喜歡小孩, 能夠設身處地站在媽媽的立場思考問題</h5></li>
              <li><h5>有實際Facbook或者Google Adwords投放網路廣告的經驗</h5></li>
              <li><h5>喜歡分析數字，擅長找出數字背後代表的意義。</h5></li>
              <li><h5>文字能力強，常在網路上分享文字</h5></li>
              <li><h5>喜愛在網路上與不認識的人互動，以及善於觀察網路上的趨勢現象。</h5></li>
              <li><h5>有梗的人，總是可以隨時有不同的活動想法並能付諸實行</h5></li>
              <li><h5>加分條件:</h5></li>
              <li><h5>有SEO基本知識</h5></li>
              <li><h5>會使用Google Analytics</h5></li>
              <li><h5>經常用APP或是網路購物者</h5></li>
            </ol>
            <br>
            <h5>意者歡迎來信履歷，並註明「期望薪資」和「可到職日期」</h5>
            <h5 class="text-lowercase">寄到：alice@upn.com.tw</h5>
          </div>
        </div>

        <div class="panel panel-success">
          <div class="panel-heading"><h4 class="panel-title">商品內容編輯&nbsp;<span class="badge">1位</span></h4></h4></div>
          <div class="panel-body">
            <h5>工作內容：</h5>
            <ol>
              <li><h5>撰寫母嬰商品開箱文(詳細清楚、中肯、有溫度、具親切感、不做強迫銷售)</h5></li>
              <li><h5>商品攝影及圖片編輯</h5></li>
              <li><h5>協助粉絲團經營</h5></li>
            </ol>
            <br>
            <h5 class="text-lowercase">商品類 <a href="http://group.i-fit.com.tw/content.php?p_id=958" target="_blank">http://group.i-fit.com.tw/content.php?p_id=958</a></h5>
            <h5 class="text-lowercase">服務類 <a href="http://vip.i-fit.com.tw/" target="_blank">http://vip.i-fit.com.tw/</a></h5>
            <h5 class="text-lowercase">活動類 <a href="http://on.fb.me/1nSR51k" target="_blank">http://on.fb.me/1nSR51k</a></h5>
            <h5 class="text-lowercase">廣告類 <a href="http://on.fb.me/1rEPo5L" target="_blank">http://on.fb.me/1rEPo5L</a></h5>
            <br>
            <h5>徵求條件：</h5>
            <ol>
              <li><h5>文筆輕鬆流暢、文字有溫度、寫作效率高，具有創意、想像力</h5></li>
              <li><h5>熟悉Photoshop操作、熟悉商品攝影、有美感</h5></li>
              <li><h5>對於親子主題有濃厚興趣、對於社群經營有高度熱情</h5></li>
              <li><h5>細心、抗壓性強、思路和表達清晰、對工作有學習熱情</h5></li>
              <li><h5>喜歡網路購物，而且對於購買的商品會仔細研究商品品質</h5></li>
              <li><h5>有網拍經營經驗、有部落格文章撰寫經驗尤佳</h5></li>
            </ol>
            <br>
            <h5>意者歡迎來信履歷，並註明「期望薪資」和「可到職日期」</h5>
            <h5 class="text-lowercase">寄到：tingyi@upn.com.tw</h5>
          </div>
        </div>

        <div class="panel panel-success">
          <div class="panel-heading"><h4 class="panel-title">商品開發&nbsp;<span class="badge">1位</span></h4></h4></div>
          <div class="panel-body">
            <h5>工作內容：</h5>
            <ol>
              <li><h5>瞭解親子族群的育兒需求，找到值得推薦的優質商品</h5></li>
              <li><h5>開發供貨廠商、洽談合作方式及議價，維持長久合作關係</h5></li>
              <li><h5>追蹤銷售狀況，根據數據調整未來合作方式及規劃商品行銷活動</h5></li>
            </ol>
            <br>
            <h5>徵求條件：</h5>
            <ol>
              <li><h5>平時喜愛上網購物，喜歡接觸新商品，對國內外流行事物具有一定敏銳度。</h5></li>
              <li><h5>熟悉或對母嬰市場有興趣，有服務親子族群、為用戶找到優質商品的熱誠。</h5></li>
              <li><h5>良好的溝通能力，積極、活潑、熱誠、個性細心、抗壓性高、任職穩定度高。</h5></li>
              <li><h5>善於搜尋網路資訊及比較商品，對商品價格敏銳度高。</h5></li>
              <li><h5>加分項目: 有陌生開發、或電子商務網站/母嬰商品開發經驗尤佳，英文/日文/韓文任一語文</h5></li>
              <li><h5>有商務溝通能力尤佳。</h5></li>
            </ol>
            <br>
            <h5>意者歡迎來信履歷，並註明「期望薪資」和「可到職日期」</h5>
            <h5 class="text-lowercase">寄到：nancy@upn.com.tw</h5>
          </div>
        </div>

        <div class="panel panel-success">
          <div class="panel-heading"><h4 class="panel-title">業務助理&nbsp;<span class="badge">1位</span></h4></h4></div>
          <div class="panel-body">
            <h5>徵求條件：</h5>
            <ol>
              <li><h5>細心、肯學習，個性積極，有團隊合作精神！</h5></li>
              <li><h5>輔助商品開發人員處理相關內部行政作業。</h5></li>
              <li><h5>協助聯繫廠商，下訂單＆追蹤出貨狀況。</h5></li>
              <li><h5>協助商品開發人員整理單據、對帳。</h5></li>
              <li><h5>支援商品上架＆資料建檔。</h5></li>
              <li><h5>業務主管交辦事宜。</h5></li>
            </ol>
            <br>
            <h5>意者歡迎來信履歷，並註明「期望薪資」和「可到職日期」</h5>
            <h5 class="text-lowercase">寄到：nancy@upn.com.tw</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
