<!-- Recuritment Section -->
<section id="recruitment" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">誠徵夥伴</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5 class="text-muted">我們不一定有最優渥的福利，但我們可以給你一個舞台發揮</h5>
                        <h5 class="text-muted">我們不一定有最完善的制度，但我們期待和你一起建立制度</h5>
                        <h5 class="text-muted">我們不一定是最完美的公司，但我們希望和你一起解決問題</h5>
                        <h4 class="text-muted">我們是一間放眼國際的網路新創公司，我們等待不怕把手弄髒的你！！</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-lg-12">
            <h3 class="section-heading">加入上恩的福利</h3>
            <div class="section-subheading ">
                <ol>
                    <li><h5>不需要加班給主管看，能有效率處理完公事準時下班最歡迎。</h5></li>
                    <li><h5>加入公司第一年即有年假，讓你隨時充電一下。</h5></li>
                    <li><h5>無限量供應咖啡膠囊，不定時揪團下午茶。</h5></li>
                    <li><h5>每月一次公司買單的員工聚餐，慶生會讓大家 Happy Birthday。</h5></li>
                    <li><h5>業績好的時候，會不定時有機動獎金～</h5></li>
                    <li><h5>努力達到年度業績目標，很 High 的員工旅遊也是會發生滴～</h5></li>
                    <li><h5>工作地點靠近古亭捷運站，有寬敞的辦公室、舒服的吧台。</h5></li>
                    <li><h5>我們提供相關課程或演講補助，期待你與公司一起成長。</h5></li>
                </ol>
            </div>
        </div>

        <div class="row col-lg-12">
            <h3 class="section-heading">職缺</h3>

            <div id="web-intern-mamilove" class="panel panel-success">
                <div class="panel-heading"><h4 class="panel-title"></span>Senior Web Developer&nbsp;<span class="badge">1位</span></h4></div>
                <div class="panel-body">
                    <h5>上恩資訊 (UPN) 的使命是利用網路的科技，幫助家庭解決生活中遇到的種種問題，陪伴家庭與孩子快樂地成長。</h5>
                    <h5>在 UPN，web developer 跟 app developer / product designer 同樣處在我們產品開發的核心，他們除了身懷打造 web application 的絕世武功，更想挑戰自己：</h5>
                    <br>
                    <ol>
                        <li><h5>以打造世界一流的網路產品為目標</h5></li>
                        <li><h5>以解決消費者的問題為己任</h5></li>
                        <li><h5>以客觀的數據為指引</h5></li>
                        <li><h5>以體貼客戶的心為依歸</h5></li>
                    </ol>
                    <br>
                    <h5>如果你也是身懷武功但又不滿於此，希望能接受進一步的挑戰，歡迎跟我們一起踏上這條偉大的航道！</h5>
                    <br>
                    <h5>Why you should consider UPN 為什麼你應該考慮上恩</h5>
                    <ul>
                        <li><h5>公司裡面臥虎藏龍，有許多 一 (ㄍ ㄨ ㄟ ) 流 (ㄇ ㄠ ˊ) 的 developers / designers </h5></li>
                        <li><h5>公司就在古亭捷運站附近，交通方便 。</h5></li>
                        <li><h5>身邊充滿的熱情與快速執行力的夥伴，讓你每天上班都活力充沛！</h5></li>
                        <li><h5>開放的討論氣氛，讓你的 idea 有發揮的空間</h5></li>
                    </ul>
                    <br>
                    <h5>Responsibilities 工作內容：</h5>
                    <ol>
                        <li><h5>協助團隊建立適合的系統架構去解決遇到的問題</h5></li>
                        <li><h5>協助提升團隊的開發流程，讓工程師的開發更有效率</h5></li>
                        <li><h5>co-work with PM / designers，了解團隊優先順序並進行 web application 開發(mostly PHP & JavaScript)</h5></li>
                        <li><h5>吸收新知並動手實作，了解 web application 的最佳實踐</h5></li>
                        <li><h5>透過 code review 或分享，協助提升 team member 的開發能力</h5></li>
                    </ol>
                    <br>
                    <h5>Requirements 徵求條件</h5>
                    <ol>
                        <li>
                            <h5>有過 2 年以上開發 web application 的經驗 </h5>
                            <ul>
                                <li>有實際 run 過一個網站上線 & iteration 的過程</li>
                                <li>有過參與 architecture 設計的經驗</li>
                                <li>熟悉 AWS 服務</li>
                            </ul>
                        </li>

                        <li><h5>喜歡寫 code ，覺得在透過網路解決人們生活的難題是一件很酷的事</h5></li>
                        <li><h5>想挑戰自我的能力，願意嘗試在快節奏的公司工作</h5></li>
                        <li><h5>溝通能力佳，喜歡團隊合作更勝一人球隊</h5></li>
                        <li><h5>(bonus) 有過帶人的經驗</h5></li>
                    </ol>
                    <br>
                    <h5>意者歡迎來信履歷、相關作品集、聯絡方式、期待薪資</h5>
                    <h5 class="text-lowercase">寄到：<a href="mailto:jacky@upn.com.tw">jacky@upn.com.tw</a>、<a href="mailto:brooky@upn.com.tw">brooky@upn.com.tw</a></h5>
                </div>
            </div>

            <div id="my83-hiring" class="panel panel-success">
                <div class="panel-heading"><h4 class="panel-title"></span>MY83 web 工程師</h4></div>
                <div class="panel-body">
                    <h5>詳情請見 <a href="http://my83.com.tw/blogs?p=1264">MY83 徵才</a></h5>
                </div>
            </div>
        </div>
    </div>

</section>

