.panel-heading, .team-member img{
  cursor: pointer;
}


.fadeInDown, .fadeInUp {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0.8s;

  animation-duration: 3s;
  animation-delay: 0.8s;
}
