.panel-heading, .team-member img{
  cursor: pointer;
}


.fadeInDown, .fadeInUp {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0.8s;

  animation-duration: 3s;
  animation-delay: 0.8s;
}

.news-post {
    height: 275px;
}

.popover {
    position:relative;
    max-width: 860px;
}

.upn-life {
    height: 400px;
    background-image: url("img/life.jpg");
}

.upn-blog {
    height: 400px;
    background-image: url("img/blog.jpg");
}

.upn-life>h2.section-heading, .upn-blog>h2.section-heading {
    margin-top: 30%;
    margin-left: 30%;
    padding: 15px;
    z-index: 3;
    position: absolute;
    border: 5px solid #FFF;
    color: #FFF;
    background-color: #F3B700;
}

.upn-life:hover, .upn-blog:hover {
    opacity: 0.5;
}
